.App {
  background: #f3f0f0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.thumbnail-sm {
  width: 60px;
  padding-right: 11px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-responsive {
  width: 391px;
}

#footer .wrap {
  background: #302f31;
  color: #bbb8bf;
  padding: 75px 0;
  font-size: 14px;
  line-height: 22px
}

#footer .wrap a {
  color: #bbb8bf;
  display: block
}

#footer .wrap a:hover {
  color: #fff
}

#footer .wrap h2 {
  margin: 0 0 28px 0;
  color: #fff;
  font-size: 18px;
  font-size: 1.4rem;
  font-weight: 900
}

#footer .wrap h4 {
  font-size: 1.2em;
}

#footer .wrap p {
  margin: 0 0 24px 0
}

#footer .wrap form {
  position: relative
}

#footer .wrap form .form-control {
  background: 0 0;
  border: 2px solid #fff;
  padding: 0 46px 0 15px;
  height: 40px;
  color: #fff
}

#footer .wrap form .submit {
  position: absolute;
  right: 16px;
  top: 13px;
  margin-top: -6px;
  border: 0;
  width: 32px;
  height: 28px;
  background-position: -57px 0;
  outline: 0;
  padding: 0
}

#footer .wrap .socials a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  font-size: 2.2rem;
  color: #fff;
  /*float:left;*/
  margin: 0 0 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  text-align: center;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, .1)
}

#footer .wrap .socials a:first-child {
  margin: 0
}

#footer .wrap .socials a.wordpress {
  background: #0087be
}

#footer .wrap .socials a.wordpress:hover {
  background: #0087be
}

#footer .wrap .socials a.facebook {
  background: #3262b9
}

#footer .wrap .socials a.facebook:hover {
  background: #2d57a5
}

#footer .wrap .socials a.twitter {
  background: #3dd7e5
}

#footer .wrap .socials a.twitter:hover {
  background: #27d2e2
}

#footer .wrap .socials a.google-plus {
  background: #e23535
}

#footer .wrap .socials a.google-plus:hover {
  background: #de2020
}

#footer .wrap .socials a.linkedin {
  background: #069
}

#footer .wrap .socials a.linkedin:hover {
  background: #005580
}

#footer .copyright {
  padding: 50px 0 60px
}

@media (max-width: 767px) {
  #footer .wrap {
    padding: 55px 0
  }
  #footer .wrap .i {
    margin-top: 20px;
    margin-bottom: 20px
  }
  #footer .wrap .i:nth-child(3) {
    clear: left
  }
  #footer .copyright .i {
    width: 100%;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px
  }
  #footer align-center {
    text-align: left;
  }
  #footer align-right {
    text-align: left;
  }
}

.tp-jumbotron {
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: white;
  background-position: 50% 0px;
  border-radius: 0em;
}

.fullscreen {
  height: 75vh;
  margin-bottom: -2rem;
  margin-top: -0.33rem;
}

.landing-dim {
  position: relative;
}

.landing-dim::before {
  background-image: url('/static/img/legoCarpenters.jpg');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(0.9)
}

.undim {
  position: relative;
  color: white;
  padding: 1rem 1rem 1rem 1rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: rgba(0,0,0,0.25);
  border-radius: 1vw;
  border: 1px solid rgba(0,0,0,0.15);
}

.unmargin {
  margin-bottom: -2rem;
  margin-top: -0.75rem;
}

@media(min-width: 1366px) {
  .dim::before {
      background-position: 50% -175px;
  }
}

@media (max-width: 1366px) {
  .fullscreen {
      height: 100vh;
  }
}

body {
  padding-top: calc(55px + 1em);
}

.standout {
  position: relative;
  clear: both;
  padding: 3rem 1rem 1rem;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  background-color: #ffffff;
}

table {
  border: 1px solid red;
  font-size: x-large;
}
th {
  color: #f5ffff;
  background-color: #ed7d31;
  padding: 0rem 1rem 0rem 1rem;
  font-weight: 700;
}
td {
  color: #1c0000;
  border-bottom: 1px solid #efb2a0;
  text-align: center;
  background-color: #f8e3e2;
  padding: 0rem 1rem 0rem 1rem;
  font-weight: 600;
}